![](../docs/banner.png)

# Pandas

**COP4283, Fall 2022**

## Exercises

### 1.

In this set of practice exercises we'll be investigating the carbon footprint of different foods. We'll be leveraging a dataset compiled by [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday).

Start by importing pandas with the alias `pd`.

In [2]:
import pandas as pd

### 2.

The dataset we'll be working with has the following columns:

|column      |description |
|:-------------|:-----------|
|country       | Country Name |
|food_category | Food Category |
|consumption   | Consumption (kg/person/year) |
|co2_emmission | Co2 Emission (Kg CO2/person/year) |


Import the dataset as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv")

### 3.

How many rows and columns are there in the dataframe?

In [5]:
df.shape

(1430, 4)

### 4.

What is the type of data in each column of `df`?

In [13]:
df.dtypes

country           object
food_category     object
consumption      float64
co2_emmission    float64
dtype: object

### 5.

What is the mean `co2_emission` of the whole dataset?

In [16]:
df.describe()

       consumption  co2_emmission
count  1430.000000    1430.000000
mean     28.110406      74.383993
std      49.818044     152.098566
min       0.000000       0.000000
25%       2.365000       5.210000
50%       8.890000      16.530000
75%      28.132500      62.597500
max     430.760000    1712.000000

### 6.

How many different kinds of foods are there in the dataset? How many countries are in the dataset?

In [17]:
df["food_category"].unique()

array(['Pork', 'Poultry', 'Beef', 'Lamb & Goat', 'Fish', 'Eggs',
       'Milk - inc. cheese', 'Wheat and Wheat Products', 'Rice',
       'Soybeans', 'Nuts inc. Peanut Butter'], dtype=object)

In [18]:
df["country"].unique()

array(['Argentina', 'Australia', 'Albania', 'Iceland', 'New Zealand',
       'USA', 'Uruguay', 'Luxembourg', 'Brazil', 'Kazakhstan', 'Sweden',
       'Bermuda', 'Denmark', 'Finland', 'Ireland', 'Greece', 'France',
       'Canada', 'Norway', 'Hong Kong SAR. China', 'French Polynesia',
       'Israel', 'Switzerland', 'Netherlands', 'Kuwait', 'United Kingdom',
       'Austria', 'Oman', 'Italy', 'Bahamas', 'Portugal', 'Malta',
       'Armenia', 'Slovenia', 'Chile', 'Venezuela', 'Belgium', 'Germany',
       'Russia', 'Croatia', 'Belarus', 'Spain', 'Paraguay',
       'New Caledonia', 'South Africa', 'Barbados', 'Lithuania', 'Turkey',
       'Estonia', 'Mexico', 'Costa Rica', 'Bolivia', 'Ecuador', 'Panama',
       'Czech Republic', 'Romania', 'Colombia', 'Maldives', 'Cyprus',
       'Serbia', 'United Arab Emirates', 'Algeria', 'Ukraine', 'Pakistan',
       'Swaziland', 'Latvia', 'Bosnia and Herzegovina', 'Fiji',
       'South Korea', 'Poland', 'Saudi Arabia', 'Botswana', 'Macedonia',
       'Hungary', 'Trinidad and Tobago', 'Tunisia', 'Egypt', 'Mauritius',
       'Bulgaria', 'Morocco', 'Slovakia', 'Niger', 'Kenya', 'Jordan',
       'Japan', 'Georgia', 'Grenada', 'El Salvador', 'Cuba', 'China',
       'Honduras', 'Taiwan. ROC', 'Angola', 'Jamaica', 'Namibia',
       'Belize', 'Malaysia', 'Zimbabwe', 'Guatemala', 'Uganda', 'Nepal',
       'Iran', 'Tanzania', 'Senegal', 'Peru', 'Nicaragua', 'Vietnam',
       'Ethiopia', 'Myanmar', 'Congo', 'Zambia', 'Cameroon', 'Madagascar',
       'Malawi', 'Guinea', 'Nigeria', 'Rwanda', 'Philippines', 'Ghana',
       'Togo', 'Gambia', 'India', 'Thailand', 'Mozambique', 'Cambodia',
       'Sierra Leone', 'Sri Lanka', 'Indonesia', 'Liberia', 'Bangladesh'],
      dtype=object)

### 7.

What is the maximum `co2_emmission` in the dataset and which food type and country does it belong to?

In [19]:
df[df["co2_emmission"] == df["co2_emmission"].max()]

     country food_category  consumption  co2_emmission
2  Argentina          Beef        55.48         1712.0

### 8.

How many countries produce more than 1000 Kg CO2/person/year for at least one food type?

In [22]:
df[df["co2_emmission"] > 1000]

       country food_category  consumption  co2_emmission
2    Argentina          Beef        55.48        1712.00
13   Australia          Beef        33.86        1044.85
57         USA          Beef        36.24        1118.29
90      Brazil          Beef        39.25        1211.17
123    Bermuda          Beef        33.15        1022.94

### 9.

Which country consumes the least amount of beef per person per year?

In [23]:
beef = df[df["food_category"] == "Beef"]
beef[beef["consumption"] == beef["consumption"].min()]

      country food_category  consumption  co2_emmission
1410  Liberia          Beef         0.78          24.07

### 10.

Which country consumes the most amount of soybeans per person per year?

In [25]:
soy = df[df["food_category"] == "Soybeans"]
soy[soy["consumption"] == soy["consumption"].max()]

          country food_category  consumption  co2_emmission
1010  Taiwan. ROC      Soybeans        16.95           7.63

### 11.

What is the total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset combined?

In [33]:
meats = df[df['food_category'].isin(["Pork","Poultry", "Fish", "Lamb & Goat", "Beef"])]
meats["co2_emmission"].sum()

74441.13

### 12.

What is the total emissions of all other (non-meat) products in the dataset combined?

In [35]:
non_meat = df[~df['food_category'].isin(["Pork","Poultry", "Fish", "Lamb & Goat", "Beef"])]
non_meat["co2_emmission"].sum()

31927.98